{
    "overrides": [
      {
        "files": "*.tsx",
        "options": {
          "parser": "typescript"
        }
      },
      {
        "files": "*.ts",
        "options": {
          "parser": "typescript"
        }
      }
    ]
  }